span{
    margin-left: 50px;
    font-size: 30px;
}

#logo{
    float: left;
}

#zone{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
}

h1{
    background-color: rgba(165,42,42,0.2);
    text-align: center;
    flex-grow: 4;
    font-size: 20px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    float: left;
    color: white;
    text-align: center;
    padding: 65px 50px;
    text-decoration: none;
    font-size: 25px;
}

.lienmenu{
    color: white;
    text-decoration: none;
     cursor: pointer;
}

.lienmenu:hover{
    color: rgba(0, 206, 231, 0.8);
}

button{
    border: 0;
    text-align: center;
    font-size: 25px;
    margin: 60px;
    border-radius: 25px;
    background-color: rgba(0, 206, 231, 0.8);
    border: 3px solid white;
    padding: 10px;
}

button:hover{
    background-color: black;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;
}

body{
    background-color: grey
}