span{
    margin-left: 50px;
    font-size: 30px;
}

#logo{
    display: flex;
    flex-direction: row;

    height: 150px;
    width: 150px;
}

#zone{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, dodgerblue, hsl(260, 100%, 56%));
    border-radius: 50px;
}

h1{
    font-family: Arial;
    font-weight: bolder;
    color: white;
    text-align: center;
    flex-grow: 4;
    font-size: 20px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    float: left;
    color: white;
    text-align: center;
    padding: 65px 50px;
    text-decoration: none;
    font-size: 25px;
}

.lienmenu{
    transition-duration: 0.2s ;
    justify-content: center;
    flex-grow: 1;
    flex-basis: auto;
    color: white;
    font-size: 130%;
    font-family: "Arial";
    text-decoration: none;
    cursor: pointer;
}

.lienmenu:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

.connexion{
    transition-duration: 0.3s ;
    text-align: center;
    border-radius: 25px;
    background-color: dodgerblue;
    border: 4px solid white;
    padding: 15px;
}

.connexion:hover{
    transition-duration: 0.3s;
    background-color: white;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;
}

.monCompte{
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 65px 0px;
    text-decoration: none;
    font-size: 25px;
}

.monCompte:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

.accueil{
    background-color: white;
}
/*Cette partie gère les pages d'inscription et de connexion*/



.login{
    background-image:
            url("src/zenGarden.jpg");
    background-position: center;
    backdrop-filter: blur(5px);
    user-select: none; /*Permet de ne pas sélectionner le texte*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /*Mettre le tout au centre*/
    /*overflow-y: hidden;*/ /*cacher la barre de navigation*/

}

.elementInscriptionContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(232,232,232,0.8);
    text-align: center;
    border-radius: 25px;

}
.zoneEntree{
    justify-content: center;
    align-items: center;
}


.elementInscription{
    display: inline-block;
}
.boutonConnexion{
    border: 0;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border-radius: 25px;
    background-color: rgba(0, 206, 231, 0.8);
    border: 1px solid black;
    padding: 10px;
}

.boutonConnexion:hover{
    transition-duration: 0.3s;
    background-color: black;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;

}

.centreRegister{
    text-align: center;
}

.registerContainer{
    padding: 60px;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #E8E8E8;
    border-radius: 30px;
    font-size: 20px ;
}

.registerOrganisation{
    align-content: center;
}

.InputRegister{
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    border: none;
    height: 30px;
    width: 75%;
    padding-left: 5%;

}

.InputRegister:hover{
    transition-duration: 0.3s;
    background-color: black;
    color: white;

}

.seconnecterRegister{
    text-decoration: none;
}
/*Fin de la partie qui gère l'inscription et la connexion*/
p1{
    color: #ffffff;
}

a{
    color: #87CEFAFF;
    text-decoration: none;
}

.f{
    color: white;
    transition-duration: 0.2s ;
    cursor: pointer;
    justify-content: center;
    flex-grow: 1;
    flex-basis: auto;
    font-family: "Arial";
    font-size: 80%;
}

.f:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

.footer{
    border-radius: 50px;
    background: linear-gradient(#1E90FFFF,#691FFFFF);
    text-align: center;
    position: absolute;
    bottom:0;
    width: 98.7%;
    padding-top:50px;
    padding-block: 30px;
    height:200px;

}

