span{
    margin-left: 0px;
    font-size: 30px;
}

#logo{
    display: flex;
    flex-direction: row;

    height: 150px;
    width: 150px;
}

html, body {
    margin: 0;
    padding: 0;
}

.zone{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    position: fixed;
    height: auto;
    top: 0;
    backdrop-filter: blur(25px);
    padding: 0;
    opacity: 0.90;
    width: 100%;
    z-index: 9999;
    background: linear-gradient(to right, dodgerblue, hsl(260, 100%, 56%));
}



.titreFooter{
    font-family: Arial;
    font-weight: bolder;
    color: White;
    text-align: center;
    flex-grow: 4;
    font-size: 20px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    float: left;
    color: white;
    text-align: center;
    padding: 65px 50px;
    text-decoration: none;
    font-size: 25px;
}

h1, h2, h3, h4, p{
    font-family: Arial;
    font-weight: bolder;
    color: white;
    flex-grow: 4;

}

.lienmenu{
    transition-duration: 0.2s ;
    justify-content: center;
    flex-grow: 1;
    flex-basis: auto;
    color: white;
    font-size: 130%;
    font-family: "Arial";
    text-decoration: none;
    cursor: pointer;
}

.lienmenu:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

.connexion{
    transition-duration: 0.3s ;
    text-align: center;
    border-radius: 25px;
    background-color: dodgerblue;
    border: 4px solid white;
    padding: 15px;
}

.connexion:hover{
    transition-duration: 0.3s;
    background-color: white;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;
}

.monCompte{
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 65px 0px;
    text-decoration: none;
    font-size: 130%;
}

.monCompte:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

/*Cette partie gère la page d'acceuil*/

.accueil{

}



/*Cette partie gère les pages d'inscription et de connexion*/



.login{
    background : linear-gradient(to left, dodgerblue, hsl(260, 60%, 56%));

    backdrop-filter: blur(5px);
    user-select: none; /*Permet de ne pas sélectionner le texte*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /*Mettre le tout au centre*/
    /*overflow-y: hidden;*/ /*cacher la barre de navigation*/

}

.elementInscriptionContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(232,232,232,0.8);
    text-align: center;
    border-radius: 25px;
}
.zoneEntree{
    justify-content: center;
    align-items: center;
}


.elementInscription{
    display: inline-block;
}
.boutonConnexion{
    border: 0;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border-radius: 25px;
    background-color: rgba(0, 206, 231, 0.8);
    border: 1px solid black;
    padding: 10px;
}

.boutonConnexion:hover{
    transition-duration: 0.3s;
    background-color: black;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;
}

.centreRegister{
    text-align: center;
}

.login-container{
    padding: 60px;
    margin: 50px;
    display: flex;
    max-width: 70vw;
    max-height: 70vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity : 0.8;
    border-radius: 30px;
    font-size: 15px ;
    font-family: Arial;
}

.registerContainer{
    padding: 60px;
    margin: 50px;
    display: flex;
    max-width: 90vw;
    max-height: 90vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity : 0.8;
    border-radius: 30px;
    font-size: 15px ;
    font-family: Arial;
}


.registerOrganisation{
    align-content: center;
}

.InputRegister{
    transition-duration: 0.3s;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: white;
    border: none;
    width: 75%;
    height: 30px;
    padding-left: 4%;
}


.InputRegister:hover{
    transition-duration: 0.3s;
    background-color: darkgray;
}

.boutonRegister{
    transition-duration: 0.3s;
    border: none;
    text-align: center;
    font-size: 100%;
    margin: 10px;
    border-radius: 25px;
    background-color: white;

    padding: 10px;
}

.boutonRegister:hover{
    transition-duration: 0.3s;
    background-color: darkgrey;
}

.seconnecterRegister{
    transition-duration: 0.3s;
    color: blueviolet;
    text-decoration: none;
}

.seconnecterRegister:hover{
    transition-duration: 0.3s;
    color: blue;
}
/*Fin de la partie qui gère l'inscription et la connexion*/
.textFooter{
    color: white;
}

/*Partie le produit */

.produitOrga{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgProduit{
    width: 20%;
    height: auto;
}

.textProduit{
    font-size: 130%;
}

/*Partie Contact*/

.InputContact{
    transition-duration: 0.3s;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
}

.InputContact:hover{
    transition-duration: 0.3s;
    background-color: darkgrey;
}

.textContact{
    line-height: 150%;

    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 70%;
}

.boutonContact{
    transition-duration: 0.3s ;
    text-align: center;
    border-radius: 25px;
    background-color: dodgerblue;
    border: 1px solid black;
    padding: 15px;
}
.boutonContact:hover{
    transition-duration: 0.3s;
    background-color: white;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;
}


/*Début footer*/
a{
    color: #87CEFAFF;
    text-decoration: none;
}


.f{
    color: white;
    transition-duration: 0.2s ;
    cursor: pointer;
    justify-content: center;
    flex-grow: 1;
    flex-basis: auto;
    font-family: "Arial";
    font-size: 80%;
}

.f:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(#1E90FFFF,#691FFFFF);
    text-align: center;
    position: relative;
    margin-bottom: 0;
    width: 100%;
    padding : 0;
}



.footerOrga{
  display: flex;
    flex-direction: row;
}

/*Section dédiée à la page FAQ*/
.FAQbody h2{
    display: flex;
    justify-content: center;
}
.faq {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .faq:hover {
    background-color: #ccc;
}

.reponse {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.faq:hover .reponse{
    display: block;
}
.faq:hover .reponse{
    display: block;
}
/*Fin section dédiée aux FAQ*/

/* Page d'acceuil */


.content-text{
    width: 100%;
    margin-top: 35vh;
}

div.content-text {
    width:40%;
    overflow:hidden;
}
div.content-text h1, h2, h3 {
    animation: 1s slide-right, fadeIn 1s;

}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        margin-left: -100%;
        width: 300%;

    }

    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;

    }
}
.content-outside{
    position: relative;
    height: 100%;
    margin-left: 20vw;
    z-index: 999;


}



.content-image{
    transform: scale(0.2,0.35);
    border-radius: 50%;

}

section{
    position: relative;
    width : 100%;
    height: 90vh;
    background: linear-gradient(to right, dodgerblue, hsl(260, 80%, 56%));
    overflow: hidden;

}

section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("src/wave.png");
    background-size: 1250px 100px ;
}

section .wave.wave1{
    animation: animate 90s linear infinite;
    opacity : 0.25;
    animation-delay: 0s;
    bottom : 0;
}

@keyframes animate {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

section .wave.wave2{
    animation: animate2 60s infinite linear;
    opacity : 0.35;
    animation-delay: -5s;
    bottom : 0px;
}

@keyframes animate2 {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

section .wave.wave3{
    animation: animate3 75s linear infinite;
    opacity : 0.15;
    animation-delay: -10s;
    bottom : 0px;
}

@keyframes animate3 {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

#btn {
    background: linear-gradient(to left, dodgerblue, hsl(260, 100%, 56%));
    height: 50px;
    width : 200px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    font-family: 'Arial';
    position: relative;
    margin-left: 0;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 700ms;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btn:hover {
    opacity: 1;
}

#btn:hover #circle {
    height: 50px;
    width: 190px;
    left: 5px;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}

.descriptor{
    margin-top: 3vw;
    margin-bottom: 3vw;
    position: relative;
    margin-left: 10vh;
    text-align: justify;
    display: flex;
    flex-direction: row;
}

.descriptor-image-container{


}

.descriptor-image{
    margin-left: 20vh;
    height:384px;
    border-radius: 50%;
    animation: float 7s infinite ease-in-out;

}

@keyframes float {
    0%{
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.descriptor-text-container{
    display: flex;
    flex-direction: column;
    width: 80vh;
}

.descriptor h1,h2,p{
    color : black;
    font-weight: normal;
}

.descriptor-text{
    width: 100%;
    height: 100%;
}

.consult-data-descriptor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consult-data-button #btn{
    height:100px;
    width:250px;
    text-align: center;
}

.consult-data-button #btn:hover #circle{
    height: 100px;
    width: 240px;
}

.consult-data-text h1, h2 , p{
    color: black;
    font-weight: normal;
}
.consult-data-button{
    margin-bottom: 5vh;
}

/* Mon Compte */

.account-container{
    display: flex;
    flex-direction: column;
}

.account-descriptor-container{
    margin-top: 15vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
}

.account-descriptor-text{
    display: flex;
    flex-direction: column;
}

.account-descriptor-title{
    display: flex;
    flex-direction: row;
    width: 50vh;

}

.account-descriptor-usable{
    margin-left: 15vh;
    text-align: right;
}

.chart-container {
    margin-top: 15vh;
    margin-left: 15vw;
    width: 640px;
    height: auto;
}

.admin-search-bar-container h1, h2 , p{
    color: black;
    font-weight: normal;
    text-align: center;
}