span{
    margin-left: 50px;
    font-size: 30px;
}

#logo{
    float: left;
    height: 150px;
    width: 150px;
}

#zone{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
}

h1{
    background-color: rgba(165,42,42,0.2);
    text-align: center;
    flex-grow: 4;
    font-size: 20px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    float: left;
    color: white;
    text-align: center;
    padding: 65px 50px;
    text-decoration: none;
    font-size: 25px;
}

.lienmenu{
    color: white;
    text-decoration: none;
     cursor: pointer;
}

.lienmenu:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

.connexion{
    border: 0;
    text-align: center;
    font-size: 25px;
    margin: 60px;
    border-radius: 25px;
    background-color: rgba(0, 206, 231, 0.8);
    border: 3px solid white;
    padding: 10px;
}

.connexion:hover{
    transition-duration: 0.3s;
    background-color: black;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;
}

.monCompte{
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 65px 0px;
    text-decoration: none;
    font-size: 25px;
}

.monCompte:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

.accueil{
    background-color: grey
}

.login{
    background-color: grey;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;

}
.elementInscriptionContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(255,255,255,0.5);
    text-align: center;
    border-radius: 30px;


}

.elementInscription{
    display: inline-block;
}