span{
    margin-left: 0px;
    font-size: 30px;
}

a{
    text-decoration: none;
}

#logo{
    display: flex;
    flex-direction: row;

    height: 150px;
    width: 150px;
}

html, body {
    margin: 0;
    padding: 0;
}

.zone{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    position: fixed;
    height: auto;
    top: 0;
    backdrop-filter: blur(25px);
    padding: 0;
    opacity: 0.90;
    width: 100%;
    z-index: 9999;
    background: linear-gradient(to right, dodgerblue, hsl(260, 100%, 56%));
}



.titreFooter{
    font-family: Arial;
    font-weight: bolder;
    color: White;
    text-align: center;
    flex-grow: 4;
    font-size: 20px;
}





h1, h2, h3, h4, p{
    font-family: Arial;
    font-weight: bolder;
    color: white;
    flex-grow: 4;

}

.lienmenu{
    transition-duration: 0.2s ;
    justify-content: center;
    flex-grow: 1;
    flex-basis: auto;
    color: white;
    font-size: 130%;
    font-family: "Arial";
    text-decoration: none;
    cursor: pointer;
}

.lienmenu:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

.connexion{
    transition-duration: 0.3s ;
    text-align: center;
    border-radius: 25px;
    background-color: dodgerblue;
    border: 4px solid white;
    padding: 15px;
}

.connexion:hover{
    transition-duration: 0.3s;
    background-color: white;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;
}

.monCompte{
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 65px 0px;
    text-decoration: none;
    font-size: 130%;
}

.monCompte:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

/*Cette partie gère la page d'acceuil*/

.accueil{

}



/*Cette partie gère les pages d'inscription et de connexion*/



.login{
    background : linear-gradient(to left, dodgerblue, hsl(260, 60%, 56%));

    backdrop-filter: blur(5px);
    user-select: none; /*Permet de ne pas sélectionner le texte*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /*Mettre le tout au centre*/
    /*overflow-y: hidden;*/ /*cacher la barre de navigation*/

}

.elementInscriptionContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(232,232,232,0.8);
    text-align: center;
    border-radius: 25px;
}
.zoneEntree{
    justify-content: center;
    align-items: center;
}


.elementInscription{
    display: inline-block;
}
.boutonConnexion{
    border: 0;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border-radius: 25px;
    background-color: rgba(0, 206, 231, 0.8);
    border: 1px solid black;
    padding: 10px;
}

.boutonConnexion:hover{
    transition-duration: 0.3s;
    background-color: black;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;
}

.centreRegister{
    text-align: left;
    margin-left: 10vh;
}

.centreLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


.register-Flex-Container{
    display: flex;
    flex-direction: row;
}

.login-container{
    padding: 60px;
    margin: 50px;
    display: flex;
    max-width: 70vw;
    max-height: 70vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity : 0.8;
    border-radius: 30px;
    font-size: 15px ;
    font-family: Arial;
}

.registerContainer{
    padding: 20px;
    margin: 50px;
    display: flex;
    max-width: 90vw;
    max-height: 90vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity : 0.8;
    border-radius: 30px;
    font-size: 15px ;
    font-family: Arial;
}

.centreRegister-button{
    text-align: center;
}


.registerOrganisation{
    align-content: center;
}

.InputRegister{
    transition-duration: 0.3s;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: lightgrey;
    border: none;
    width: 75%;
    height: 30px;
    padding-left: 4%;
}


.InputRegister:hover{
    transition-duration: 0.3s;
    background-color: darkgray;
}

.boutonRegister{
    transition-duration: 0.3s;
    border: none;
    text-align: center;
    font-size: 100%;
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
}



.boutonRegister:hover{
    transition-duration: 0.3s;
    background-color: darkgrey;
}

.seconnecterRegister{
    transition-duration: 0.3s;
    color: blueviolet;
    text-decoration: none;
}

.seconnecterRegister:hover{
    transition-duration: 0.3s;
    color: blue;
}
/*Fin de la partie qui gère l'inscription et la connexion*/
.textFooter{
    color: white;
}

/*Partie le produit */

.produitOrga{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgProduit{
    width: 20%;
    height: auto;
}



/*Partie Contact*/

.InputContact{
    transition-duration: 0.3s;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
}

.InputContact:hover{
    transition-duration: 0.3s;
    background-color: darkgrey;
}

.textContact{
    line-height: 150%;

    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 70%;
}

.boutonContact{
    transition-duration: 0.3s ;
    text-align: center;
    border-radius: 25px;
    background-color: dodgerblue;
    border: 1px solid black;
    padding: 15px;
}
.boutonContact:hover{
    transition-duration: 0.3s;
    background-color: white;
    color: rgba(0, 206, 231, 0.8);
    cursor: pointer;
}


/*Début footer*/

.f{
    color: white;
    transition-duration: 0.2s ;
    cursor: pointer;
    justify-content: center;
    flex-grow: 1;
    flex-basis: auto;
    font-family: "Arial";
    font-size: 80%;
}

.f:hover{
    color: rgba(0, 206, 231, 0.8);
    transition-duration: 0.3s;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(#1E90FFFF,#691FFFFF);
    text-align: center;
    position: relative;
    margin-bottom: 0;
    width: 100%;
    padding : 0;
    margin-top : 5vh;
}



.footerOrga{
  display: flex;
    flex-direction: row;
}

/*Section dédiée à la page FAQ*/


.faq-heading {
    font-family: Arial;
    font-weight: 400;
    font-size: 19px;
    -webkit-transition: text-indent 0.2s;
    text-indent: 20px;
    color: #333;
}

.faq-text {
    font-family: Arial;
    font-weight: 400;
    color: #919191;
    width:95%;
    padding-left:20px;
    margin-bottom:30px;
}
.faq h1,h2{
    color:black;
}

.faq-title{
    margin-left: 20px;
}

.faq {
    margin-top: 20vh;
    margin-bottom: 10vh;
    width: 1000px;
    margin-left: 22.5vw;
    background: white;
    border-radius: 4px;
    position: relative;
    border: 1px solid #E1E1E1;
}
.faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 56px;
    padding-top:1px;

    background-color: #FAFAFA;
    border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
    display: none;
}

.faq .faq-arrow {
    width: 5px;
    height: 5px;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 2px solid rgba(0, 0, 0, 0.33);
    border-right: 2px solid rgba(0, 0, 0, 0.33);
    float: right;
    position: relative;
    top: -30px;
    right: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.faq input[type="checkbox"]:checked + label > .faq-arrow {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.faq input[type="checkbox"]:checked + label {
    display: block;
    background: rgba(255,255,255,255) !important;
    color: #4f7351;
    height: 225px;
    transition: height 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq input[type='checkbox']:not(:checked) + label {
    display: block;
    transition: height 0.8s;
    height: 60px;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
    display: none;
}

.a-propos-text-container{
    margin-top: 20vh;
}

.a-propos-text-container h1,h2{
    color: black;
}
/*Fin section dédiée aux FAQ*/

/* Page d'accueil */


.content-text{
    width: 100%;
    margin-top: 35vh;
}

.content-text h1,h2,h3,p{
    color:white;
}

div.content-text {
    width:40%;
    overflow:hidden;
}
div.content-text h1, h2, h3 {
    animation: 1s slide-right, fadeIn 1s;

}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        margin-left: -100%;
        width: 300%;

    }

    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;

    }
}
.content-outside{
    position: relative;
    height: 100%;
    margin-left: 20vw;
    z-index: 999;


}



.content-image{
    transform: scale(0.2,0.35);
    border-radius: 50%;

}

section{
    position: relative;
    width : 100%;
    height: 90vh;
    background: linear-gradient(to right, dodgerblue, hsl(260, 80%, 56%));
    overflow: hidden;

}

section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../src/wave.png");
    background-size: 1250px 100px ;
}

section .wave.wave1{
    animation: animate 90s linear infinite;
    opacity : 0.25;
    animation-delay: 0s;
    bottom : 0;
}

@keyframes animate {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

section .wave.wave2{
    animation: animate2 60s infinite linear;
    opacity : 0.35;
    animation-delay: -5s;
    bottom : 0px;
}

@keyframes animate2 {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

section .wave.wave3{
    animation: animate3 75s linear infinite;
    opacity : 0.15;
    animation-delay: -10s;
    bottom : 0px;
}

@keyframes animate3 {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

#btn {
    background: linear-gradient(to left, dodgerblue, hsl(260, 100%, 56%));
    height: 50px;
    width : 200px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    font-family: 'Arial';
    position: relative;
    margin-left: 0;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 700ms;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btn:hover {
    opacity: 1;
}

#btn:hover #circle {
    height: 50px;
    width: 190px;
    left: 5px;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}

.descriptor{
    margin-top: 3vw;
    margin-bottom: 3vw;
    position: relative;
    margin-left: 10vh;
    text-align: justify;
    display: flex;
    flex-direction: row;
}

.descriptor-image-container{


}

.descriptor-image{
    margin-left: 20vh;
    height:384px;
    border-radius: 50%;
    animation: float 7s infinite ease-in-out;

}

@keyframes float {
    0%{
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.descriptor-text-container{
    display: flex;
    flex-direction: column;
    width: 80vh;
}

.descriptor h1,h2,p{
    color : black;
    font-weight: normal;
}

.descriptor-text{
    width: 100%;
    height: 100%;
}

.consult-data-descriptor{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.consult-data-button #btn{
    height:100px;
    width:250px;
    text-align: center;
}

.consult-data-button #btn:hover #circle{
    height: 100px;
    width: 240px;
}

.consult-data-text h1, h2 , p{
    color: black;
    font-weight: normal;

}
.consult-data-button{
    margin-bottom: 5vh;
}

/* Mon Compte */

.account-container{
    display: flex;
    flex-direction: column;
}

.account-descriptor-container{
    margin-top: 15vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
}

.account-descriptor-text {
    display: flex;
    flex-direction: column;
}

.account-descriptor-text h1{
    color: black;
}

.account-descriptor-title{
    display: flex;
    flex-direction: row;
    width: 50vh;

}

.account-descriptor-usable{
    margin-left: 15vh;
    text-align: right;
    align-self: flex-end;
}

.chart-container {
    margin-top: 15vh;
    margin-left: 15vw;
    width: 640px;
    height: auto;
}

.admin-search-bar-container h1, h2 , p{
    color: black;
    font-weight: normal;
}

.admin-search-bar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    font-family: Arial;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.search-bar::placeholder{
    color: transparent;
}

.search-bar:placeholder-shown ~ .form-label{
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form-label{
    font-family: Arial;
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.search-bar:focus{
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 3px;
    border-image: linear-gradient(to left, dodgerblue, hsl(260, 100%, 56%));
    border-image-slice: 1;
}

.search-bar:focus ~.form-label{
    font-family: Arial;
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: dodgerblue;
    font-weight: 700;
}

.search-bar:required, .search-bar:invalid{
    box-shadow: none;
}

.search-bar-result{
    font-family: Arial;
    color: black;
    font-weight: normal;
    text-align: left;
    margin-top: 1vh;
}

.form-group{
    position: relative;
    padding: 15px 0 0;
    margin-top: 1vh;
    width: 50%;
}

/* Page Ludique */
.ludique-container h1,h2,h3,p{
    color: black;
}


.ludique-container{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

.ludique-content-container-right{
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-bottom: 5vw;
}

.ludique-content-container-left{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15vw;
    margin-bottom: 5vw;
}

.ludique-content-text-container{
    max-width: 40vw;
    text-align: justify;
    line-height: 25px;
}

.ludique-content-text-container p,li{
    font-family: Arial;
}

.ludique-content-text-container-left p,li{
    font-family: Arial;
}



.ludique-content-media-container{
    margin-left: 10vw;

}

.ludique-content-text-container-left{
    max-width: 40vw;
    text-align: justify;
    line-height: 25px;
}

.ludique-content-media-container-left{
    margin-right: 10vw;
}
.ludique-title-container{
    margin-top: 3vh;
    margin-bottom: 1vh;
}

div.ludique-title-container {
    width:40%;
    overflow:hidden;
    margin-left: 15vw;
}
div.ludique-title-container h1, h2, h3 {
    animation: 1s slide-right, fadeIn 1s;

}

.ludique-title-container h3{
    margin-top: 50px;
    margin-bottom: 50px;
}

.ludique-title-container-left{
    text-align: right;
    margin-right: 15vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Quiz */

#quiz {
    margin: -44px 50px 0px;
    position: relative;
    width: calc(100% - 100px);
}

#quiz h1 {
    color: #FAFAFA;
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    line-height: 44px;
}

#quiz button {
    float: left;
    margin: 8px 0px 0px 8px;
    padding: 4px 8px;
    background: #9ACFCC;
    color: #00403C;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

#quiz button:hover {
    background: #36a39c;
    color: #FFF;
}

#quiz button:disabled {
    opacity: 0.5;
    background: #9ACFCC;
    color: #00403C;
    cursor: default;
}

#question {
    padding: 20px;
    background: #FAFAFA;
    text-align: center;
}

#question h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
}

#question input[type=radio] {
    display: none;
}

#question label {
    display: inline-block;
    margin: 4px;
    padding: 8px;
    background: #FAE3BB;
    color: #4C3000;
    width: calc(50% - 8px);
    min-width: 50px;
    cursor: pointer;
}

#question label:hover {
    background: #EBBB67;
}

#question input[type=radio]:checked + label {
    background: #CB8306;
    color: #FAFAFA;
}

#quiz-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 44px;
    left: 0px;
    background: #FAFAFA;
    width: 100%;
    height: calc(100% - 44px);
}

#quiz-results-message {
    display: block;
    color: #00403C;
    font-size: 20px;
    font-weight: bold;
}

#quiz-results-score {
    display: block;
    color: #31706c;
    font-size: 20px;
}

#quiz-results-score b {
    color: #00403C;
    font-weight: 600;
    font-size: 20px;
}

#quiz-retry-button {

    float: left;
    margin: 8px 0px 0px 8px;
    padding: 4px 8px;
    background: #9ACFCC;
    color: #00403C;
    font-size: 14px;
    cursor: pointer;
    outline: none;

}

/* Modifier compte css */

.edit-account-container{
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-account-container h1{
    color: black;
}

.edit-account-admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boutton-edit-account{
    transition-duration: 0.3s;
    border: none;
    text-align: center;
    font-size: 100%;
    margin: 10px;
    border-radius: 25px;
    background-color: #919191;
    padding: 10px;
}


/*Visualiser admin*/
.account-descriptor-container-admin{
    margin-top: 20vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}